# to create a dataframe from a dictionary and display it

In [ ]:
# 216270307008
# pankhaniya nensi

import pandas as pd

a = {
    'Id':[101,102,103,104],
    'Name':['Nensi','hina','aarti','manshvi'],
}

d = pd.DataFrame(a)

print("Before sorting:\n", d)

print("After sorting:\n", d.sort_values(by='Name',ascending=True))

# to sort the DataFrame first by 'name' in ascending order

In [ ]:
# 216270307008
# pankhaniya nensi

import pandas as pd

import pandas as pd

data = {
 'A': ['A1', 'A2', 'A3', 'A4', 'A5'],
 'B': ['B1', 'B2', 'B3', 'B4', 'B5'],
 'C': ['C1', 'C2', 'C3', 'C4', 'C5'],
 'D': ['D1', 'D2', 'D3', 'D4', 'D5'],
 'E': ['E1', 'E2', 'E3', 'E4', 'E5']
}

d = pd.DataFrame(data)

print("Before delete :- \n",d)

print(d.drop(['A'], axis=1))

# to delete the one specific column from the DataFrame

In [ ]:
# 216270307008
# pankhaniya nensi

import pandas as pd

import numpy as np

students = {
    'Student': ['Nensi', 'aarti', 'manshvi', 'hina'],
    'RollNumber': [4, 5, 3, 7],
    'Grade': ['A', 'C', 'F', 'B']
}

d = pd.DataFrame(students, columns =['Student', 'RollNumber', 'Grade'])

print("Original DataFrame :- \n",d)

d.to_csv('Students.csv', sep ='\t')

new_d = pd.read_csv('Students.csv')

print('Data from Students.csv :- \n',new_d)

# to write a DataFrame to CSV file using tab separator

In [ ]:
# 216270307008
# pankhaniya nensi

import pandas as pd

a = {
    'Id':[101,102,103,104],
    'Name':['Nensi ','aarti','manshvi','hina'],
}

d = pd.DataFrame(a)

print("Before sorting:\n", d)

print("After sorting:\n", d.sort_values(by='Name',ascending=True))